.main-content {
  
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.main-text {
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
}

.about {
  font-size: 1.5rem;
  color: #ffffff;
}

.right-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  font-size: 1.5rem;
  color: #ffffff;
}

ul[aria-label="Social media"] {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    display: flex;
    gap: 1rem;
    list-style: none;
    z-index: 100;
    padding-left: 8rem;
}

ul[aria-label="Social media"] li a {
    color: #ffffff;
    transition: all 0.3s ease;
}

ul[aria-label="Social media"] li a:hover {
    color: #8b8c89;
    transform: scale(1.1);
}

ul[aria-label="Social media"] svg {
    height: 1.75rem;
    width: 1.75rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}